
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Playfair+Display:400,400i,700,700i,900,900i');

* {
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  margin: 0;

  background-image: url(https://images.unsplash.com/photo-1558350283-8269d86681f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80);
  background-size: cover;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100vw 100vw 100vw;
  width: 300vw;
  justify-content: center;
  align-items: center;
}

figure {
  max-width: 50vw;
  margin: 0 auto;

  padding: 1em;

  box-shadow: 0 0 2em -0.5em #E0CDFF;
  position: relative;
}

figure img {
  max-width: 100%;
  max-height: 70vh;
}

figure figcaption {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 3em;
  font-style: italic;
  text-align: right;
  text-shadow: 0 0 1em #555;
  text-shadow: 0 0 0.9em white;
  position: absolute;
  right: -2rem;
  bottom: -2rem;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.helper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  text-align: center;
  font-family: 'Nunito Sans';
  opacity: .45;
  font-size: 1.0em;
  transition: opacity, .15s;
}

.helper:hover {
  opacity: 1;
}
